html {
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: #6cacc5;
  font: 300 18px/1.6 "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

header {
  color: #f8a0c5;
  font-weight: bold;
  margin: 0;
}

.sm {
  color: #c5f0a2;
  font-weight: bold;
  margin: 0;
}

.emph {
  color: #af0202;
}

.inner-base {
  background: #100512;
  color: #6cacc5;
  margin: 50px;
  padding: 50px;
}
/* Reset button */

#result1, #result2 {
  background: rgba(201,120,116,.28);
  color:#c97874;
  font-weight: 400;
  width: auto;
  height: auto;
  
  &:hover {
    background: #c97874;
    color: #100a1c;    
  }
  
  /* When button is revealed */
  &.show {
    top: 20em;
    animation: fadein 4s;
  }
}
